body{
	background-color: #F2F3F5;
	margin: 0 auto; 
}

div{
	background-color: white;
}

h2{
	font-size: 2rem;
}
h1{
	font-size: 42px;
}
p{
	font-size: 18px;
	color: #585872;
	min-width: 300px;
	max-width: : 750px;
}
h3{
	font-size: 1.5rem;
}
a{
	text-decoration: none;
}
.cursive{
	font-family: cursive;
}
.palevioletred{
	color: palevioletred;
}
#article-title{
	margin: 0 auto;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif, serif;
	letter-spacing: 10px;
	word-spacing: 10px;
	border: 2px solid white;
	padding: 30px;
	position: relative;
	top: 200px;
	background-color: rgba(92, 9, 85, 0.5);
}
h3.cursive{
	color: indigo;
	font-style: italic;
}
.main ul{
	width: 50%;
	margin: 0, auto;
	position: relative;
	top: 300px;
	padding-left: 400px;
	

}
.main{
    height:700px; 
	background-image: url(image/orchids.jpg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
h1,h2,h3{
	min-width: 200px;
	max-width: 500px;
	margin-top: 0;
}
.main a{
	display: block;
	color: white;
	font-size: 50px;
	width: 100%;
	height: 100%;

}
.main li{
	border-radius: 20px;
	display: inline-block;
	list-style-type: none;
	max-width: 350px;
	background-color: rgba(139, 22, 135, 0.2);
	margin: 1px;
	padding: 5px;
	text-align: center;



}
.main li:hover{
	background-color: rgba(136, 39, 39, 0.9);
}
.navbar{
	background-color: rgb(65, 39, 39); 
	min-height: 50px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.navbar a{
	text-decoration: none;
	color: #f2f2f2;
	padding-left: 16px;
	font-size: 30px;
}
.navbar a:hover{
	background-color: rgb(255,107,107);
	color: black;
}
#information{
	height: 100%;
	padding-top: 250px;
	background-image: url(image/orchid1.jpg);
	background-size: cover;

}
.container{
	margin: 0 auto;
	max-width: 940px;
	background-color: rgba(0,0,0,0);
	padding: 0, 10px;
}
.card{
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.25)
}
#species{
	list-style-type: none; 
	margin: 0;
	padding: 0;
}
#species li{
	display: inline-block;
	width: 200px;
    height: 240px;
}
#species h3{
	position: absolute;
	color: white;
	background-color: rgba(0,0,0,0.28);
	width: 200px;
}
.btn{
	text-decoration: none;
	color: #fff;
	background-color: rgb(137,56,108,0.78);
	border-radius: 5px;
	padding: 10px 40px;
}
.btn:hover{
	background-color: rgb(168, 36, 36, 09);
}
#habitat img{
	float: right;
	background-color: rgba(0,0,0,0.10);
}
#habitat{
	background-color: rgba(0,0,0,0.10);
	height: 100%;
}
#media{
	background-color: black;
	height: 100%;
}
#media h2{
	position: relative;
	left: 200px;
}
video{
	width: 100%;
	height: 80%;
}